build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

*.o
*.obj
*.lo
*.la
*.a
*.lib
*.so
*.so.*
*.dll
*.exe
*.out
*.app

*.dSYM/
*.stackdump

*.log
*.tmp
*.user
*.swp
*.swo

.idea/
*.iml

.vscode/

.DS_Store
Thumbs.db
