<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodbase</title>
    <link rel="stylesheet" href="getPedido.css">
</head>
<body>

    <div class="grid-container">
        <div class="box large-box">

          <h1 id="resultado">Montagem</h1>
          <div id="imagem"></div>

        </div>

        <div class="box sidebar-top">
          <h1>Descrição</h1>
          <p>Produto: <span id="nmProduto"></span></p>
          <p>Resumo do Produto: <span id="dsProduto"></span></p>
        </div>

        <div class="box sidebar-main">
        <h1>Detalhes do Pedido</h1>

        <p>Pedido Nº: <span id="cdPedido"></span></p>
        <p>Status do Pedido: <span id="stPedido"></span></p>

        <h4>Produto</h4>
        <p>ID do Produto: <span id="cdProduto"></span></p>
        <p>Status: <span id="stProduto"></span></p>
        <p>Valor: R$ <span id="vlProduto"></span></p>

        <h4>Pagamento</h4>
        <p>ID Pagamento: <span id="cdPagamento"></span></p>
        <p>Forma Pagamento: <span id="tpPagamento"></span></p>
        <p>Total: R$ <span id="vlPagamento"></span></p>

        </div>
        
        <div class="box footer-left">
          <h4 for="pedidoId">Consultar Pedido</h4>
          <input type="number" class="input" id="pedidoId" min="1" placeholder="Digite o ID do pedido" />
          <button id="btnConsultar">Consultar</button>
        </div>
        
        <div class="box footer-right">
          <h4>Atualizar Status</h4>
          <button id="btnAtualizar">Pronto</button>
        </div>
    </div>

    <script src="getPedido.js"></script>
 
</body>
</html>